/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#include "keys_en_gb.h"

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            label = "Base";
            bindings = <
&kp ESCAPE    &kp Q  &kp W  &kp E  &kp R      &kp T        &kp Y       &kp U          &kp I      &kp O    &kp P     &kp DELETE
&kp TAB       &kp A  &kp S  &kp D  &kp F      &kp G        &kp H       &kp J          &kp K      &kp L    &kp SEMI  &kp ENTER
&kp LEFT_GUI  &kp Z  &kp X  &kp C  &kp V      &kp B        &kp N       &kp M          &kp COMMA  &kp DOT  &kp FSLH  &kp LEFT_ALT
                            &mo 1  &kp SPACE  &kp LCTRL    &kp LSHIFT  &kp BACKSPACE  &mo 2
            >;
        };

        lower_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Lower";
            bindings = <
&kp INSERT  &none     &kp PAGE_DOWN   &kp UP_ARROW  &kp PAGE_UP      &none         &kp PAGE_UP      &kp GB_N7  &kp GB_N8  &kp GB_N9  &kp KP_MULTIPLY  &kp KP_DIVIDE
&kp TAB     &kp HOME  &kp LEFT_ARROW  &kp DOWN      &kp RIGHT_ARROW  &kp DELETE    &kp GB_N0  &kp GB_N4  &kp GB_N5  &kp GB_N6  &kp GB_EQUAL     &kp ENTER
&kp LCTRL   &trans    &trans          &kp KP_DOT    &kp END          &none         &kp LEFT_ALT     &kp GB_N1  &kp GB_N2  &kp GB_N3  &kp KP_PLUS      &kp KP_SUBTRACT
                                      &none         &trans           &trans        &trans           &trans           &mo 3
            >;
        };

        raise_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            label = "Raise";
            bindings = <
&kp TAB    &kp GB_EXCLAMATION          &kp GB_AT_SIGN        &kp GB_POUND_SIGN             &kp DLLR               &kp GB_PERCENT    &kp CARET       &kp AMPS           &kp GB_ASTERISK   &kp GB_GRAVE  &none  &none
&kp TAB    &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp GB_LEFT_PARENTHESIS  &kp GB_RIGHT_PARENTHESIS  &kp MINUS    &none  &kp GB_DOUBLE_QUOTES  &kp GB_SINGLE_QUOTE  &kp SLASH  &kp GB_HASH  &kp ENTER
&kp LSHFT  &kp GB_BACKSLASH            &kp GB_PIPE             &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp UNDER    &none           &none      &none       &none   &none  &none
                                                &mo 3                 &trans                 &trans       &kp LEFT_SHIFT  &trans             &trans
            >;
        };

        FunctionLayer {
            bindings = <
&kp F1        &kp F2        &kp F3        &kp F4        &kp F5        &kp F6        &kp F7  &kp F8  &kp F9  &kp F10  &kp F11  &kp F12
&none         &trans        &trans        &trans        &trans        &trans        &trans  &kp C_VOLUME_DOWN &kp C_MUTE &kp C_VOLUME_UP &none   &trans
&bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4  &bt BT_CLR    &trans  &kp C_PREV &kp C_PP &kp C_NEXT &kp C_STOP &trans
                                          &trans        &trans        &trans        &trans  &trans  &trans
            >;
        };
    };
};
